<nav class="breadcrumb">
  <a class="breadcrumb-item" [routerLink]="['/']">Home</a>
  <a class="breadcrumb-item" routerLink="/interviews" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">Interviews</a>
  <a class="breadcrumb-item active" routerLink="/interviews/1">Interview</a>
</nav>

<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <div *ngIf="mode !== 'read'">
      <h2>Interview</h2>
      <p>manage-question-detail works! Mode: {{mode}}</p>
      <form [formGroup]="interviewForm" novalidate>
        <div class="form-group">
          <label for="interviewName">Name</label>
          <input formControlName="name" type="text" class="form-control" id="interviewName" value="" required>
          <div class="invalid-feedback">
            Name is required
          </div>
        </div>
        <div formArrayName="questions">
          <div *ngFor="let z of questions.controls; let i=index" [formGroupName]="i">
            <h4>Question #{{i + 1}}</h4>
            <div class="form-group">
              <label for="questionTitle">Title</label>
              <input formControlName="title" type="text" class="form-control" id="questionTitle" value="" required>
              <div class="invalid-feedback">
                Question title is required
              </div>
            </div>
            <div class="form-group">
              <label for="details">Question details
                <small class="text-muted">optional</small>
              </label>
              <input formControlName="text" type="text" class="form-control" id="details" aria-describedby="detailsInfo"
                     value="">
              <small id="detailsInfo" class="form-text text-muted">Any question specifics that describe the problem
              </small>
            </div>
            <div class="form-group">
              <label for="answer">Answer
                <small class="text-muted">optional</small>
              </label>
              <textarea formControlName="answer" class="form-control" id="answer" rows="4" value=""
                        style="width: 100%;"></textarea>
            </div>
          </div>
          <button (click)="addQuestion()" type="button">Add question</button>
        </div>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </form>
    </div>
    <div *ngIf="mode === 'read'">
      <h2>
        {{interview.name}}
      </h2>
      <h4>
        Questions
      </h4>
      <div *ngFor="let question of interview.questions">
        <h2>
          {{question.title}}
        </h2>
        <p>{{question.text}}</p>
        <h4>
          Answer
        </h4>
        <p>
          {{question.answer}}
        </p>
      </div>
    </div>
  </div>
</div>
