<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="list-group">
      <div class="list-group-item d-flex justify-content-end p-4 list-header-grey">
        <a class="btn btn-outline-dark" [routerLink]="['new']" role="button"><i class="fa fa-plus fa-lg"></i><span class="d-none d-lg-inline"> Add interview</span></a>
      </div>
      <a *ngFor="let interview of interviews" [routerLink]="[interview.id]" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <div class="d-none d-sm-flex flex-column align-items-center">
            <div class="border-circle">{{interview.questions && interview.questions.length || 0}}</div>
            <small class="text-muted">Questions</small>
          </div>
          <div class="p-4">
            <h5 class="mb-1">{{interview.name}}</h5>
            <small class="d-block d-sm-none text-muted">{{interview.questions && interview.questions.length || 'No'}} questions</small>
          </div>
          <div class="ml-auto d-none d-sm-flex justify-content-end">
            <a class="btn btn-outline-dark mr-3 active" [routerLink]="[interview.id, 'edit']" role="button"><i class="fa fa-pencil fa-lg"></i><span class="d-none d-lg-inline"> Edit</span></a>
            <a class="btn btn-outline-dark" [routerLink]="['']" role="button" (click)="deleteQuestion(interview.id)"><i class="fa fa-trash-o fa-lg"></i><span class="d-none d-lg-inline"> Delete</span></a>
          </div>
          <div class="ml-auto d-flex d-sm-none justify-content-end pr-3 pr-sm-0">
            <i class="fa fa-chevron-right fa-lg"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

