<nav class="breadcrumb">
  <a class="breadcrumb-item" [routerLink]="['/']">Home</a>
  <span class="breadcrumb-item active">Roles</span>
</nav>

<h2>Roles</h2>
<div class="row">

  <div class="col-md-2">
    <div class="card mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <p> Applied filters...</p>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 20rem;">
      <div class="card-header">Filters</div>
    </div>
  </div>
  <div class="col-md-9">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let role of roles">
        <a [routerLink]="['/roles', role.id]">{{role.name}} <span class="badge badge-warning float-right">QUESTIONS: {{role.questionCount}}</span></a>
      </li>
    </ul>
  </div>
</div>
