<nav class="breadcrumb">
  <a class="breadcrumb-item" [routerLink]="['/']">Home</a>
  <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <a class="breadcrumb-item" routerLink="/dashboard/companies" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Companies</a>
  <a class="breadcrumb-item active" routerLink="/dashboard/companies/1">Company</a>
</nav>

<div class="row">
  <div class="col-md-2">
    <ul class="nav side-nav d-block">
      <li class="active"><a routerLink="/dashboard" >Overview</a></li>
      <li><a routerLink="/dashboard/questions">Questions</a></li>
      <li><a routerLink="/dashboard/companies">Companies</a></li>
    </ul>
  </div>
  <div class="col-md-9 col-md-offset-2">
    <div *ngIf="mode !== 'read'">
      <h2>Question</h2>
      <p>manage-company-detail works! Mode: {{mode}}</p>
      <form [formGroup]="companyForm" novalidate>
        <div class="form-group">
          <label for="companyName">Name</label>
          <input formControlName="name" type="text" class="form-control" id="companyName" value="" required>
          <div class="invalid-feedback">
            Company name is required
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description <small class="text-muted">optional</small></label>
          <input formControlName="text" type="text" class="form-control" id="description" value="">
        </div>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </form>
    </div>
    <div *ngIf="mode === 'read'">
      <h2>
        {{company.name}}
      </h2>
      <p>{{company.description}}</p>
    </div>
  </div>
</div>
