<h1> Company single </h1>

<div class="row mx-auto">
  <!--<img src="{{company.icon}}" width="100px"/>-->
  <!--<h1>{{company.name}}</h1>-->
  <!--<p>{{company.description}}</p>-->
  <div class="col">
    <div class="jumbotron">
      <div class="row">
        <div class="col-2">
          <img src="{{company.icon}}" width="100px" class="rounded mx-auto d-block"/>
        </div>
        <div class="col-10">
          <h1 class="display-3">{{company.name}}</h1>
          <p class="lead">{{company.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mx-auto">
  <div class="col-2">
    <h4>Questions</h4>
    <h1><a [routerLink]="['questions']" class="badge badge-pill badge-info">{{company.questionCount}}</a></h1>
  </div>
  <div class="col-3">
    <h4>Roles</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let role of company.roles">
        <a [routerLink]="['/roles', role.id]">{{role.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-3">
    <h4>Skills</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let tag of company.skills">
        <a>{{tag.name}} <span class="badge badge-warning float-right">{{tag.count}}</span></a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>

